.Tree-intro {
    width:250px;
    height:100%;
    background-color:rgb(245, 246, 248);
    position: fixed;
   
    overflow-x : hidden;
    left: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;

  }

  
.MenuTree{
	display: table;
	width: 100%;
  border-bottom:  1px solid #999999;
  padding-bottom: 5px;
}
.MenuTreeRow {
	display: table-row;
  height: 30px;
}
.MenuTreeHeading {
	display: table-header-group;
}

.MenuTreeCell:hover {
  background: #e5e9ef;
}

.MenuTreeHead {
	display: table-cell;
	padding: 3px 20px;
  padding-bottom: 5px;
}

.MenuTreeCell {
display: table-cell;
padding: 3px 10px;

height: 19px;
width:100% ;
max-width: 100%;
line-height:20px;
margin-top:5px;
cursor: pointer !important;
font-family: Roboto, sans-serif;
font-size: 14px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;
}

.MenuTreeCellTitle {
	display: table-cell;
	padding: 3px 10px;
  text-align: center;
  padding-bottom: 5px;
  font-weight: 600;  
  font-size: 12px;
}
.MenuTreeHeading {
	display: table-header-group;
}
.MenuTreeFoot {
	display: table-footer-group;
}
.MenuTreeBody {
	display: table-row-group;
}

