.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Tree-intro {
  width:300px;
  height:100%;
  background-color:rgb(248, 248, 248);
  position: fixed;
  overflow-y:hidden;
  overflow-x : hidden;
}

.svgMenu {
  margin-right: 5px;
  cursor:pointer;
}

.divTable{
	display: table;
	width: 100%;
  border-bottom:  1px solid #999999;
  padding-bottom: 5px;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	display: table-header-group;
}
.divTableCell{
	display: table-cell;
	padding: 3px 20px;
  padding-bottom: 5px;
}

.divTableCell:hover {
  background: #e5e9ef;
}


.divTableHead {
	display: table-cell;
	padding: 3px 20px;
  padding-bottom: 5px;
}

.divTableCellTitle {
	display: table-cell;
	padding: 3px 10px;
  text-align: center;
  padding-bottom: 5px;
}
.divTableHeading {
	display: table-header-group;
}
.divTableFoot {
	display: table-footer-group;
}
.divTableBody {
	display: table-row-group;
}


