.menu-svgMenu {
  cursor: pointer;
}

.menu-action-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  color: #fff;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  outline: none;
}

.menu-footer {
  position: fixed;
  bottom: 0;
  width: 50px;
}

.MSvgIcon-root {
  fill: rgb(216, 200, 200);
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  cursor: pointer;
}

.menu-avatar-img {
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 8px;
  margin-left: 5px;
  transition: background-color 100ms ease;
}

.menu-avatar-div {
  width: 50px;
  height: 50px;
  border: 2px solid white;
}

.menu-element {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  color: #fff;
  font-size: 20px;

  cursor: pointer;
  position: relative;
  outline: none;
}

.menu-window-Bubble {
  color: #fff;
  background: #000;
  border-radius: 5px;
  border: 1px solid #000;

  font-size: inherit;
  font-family: inherit;
}

.menu-window-base {
  position: relative;
  top: 0;
  left: 9;
  -webkit-animation: 800ms linear 0s 1 animation-1f15dgw;
  animation: 800ms linear 0s 1 animation-1f15dgw;
  z-index: 9;
  left: 100%;
  top: 0%;
  margin-left: 8px;
  width: auto;
}

.menu-window-Bubble {
  color: #000;
  background: #e5e9ef;
  border-radius: 5px;
  border: 1px solid #000;

  font-size: 12px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  width: max-content;
}

.menu-window-BaseArrow {
  position: absolute;
  width: 8px;
  height: 8px;
  background: #e5e9ef;
  -webkit-transform: translateX(50%) translateY(-50%) rotateZ(45deg);
  -ms-transform: translateX(50%) translateY(-50%) rotateZ(45deg);
  transform: translateX(50%) translateY(-50%) rotateZ(45deg);
  right: 100%;
  top: 50%;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

.menu-splash-screen {
  height: 100%;
  width: 100%;
  background: transparent;
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
}

.menu-table {
  display: table;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.menu-table-Row {
  display: table-row;
  width: max-content;
}

.menu-table-Row:hover {
  background: #a6a9ad;
  border: 1px solid white;
  color: white;
}

.menu-table-Heading {
  display: table-header-group;
}
.menu-table-Cell {
  cursor: pointer;
  display: table-cell;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 3px;
  padding-top: 3px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-stretch: 100%;
  font-style: normal;
  font-feature-settings: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  width: max-content;
  font-weight: 400;
}

.menu-table-Head {
  display: table-cell;
}
.menu-table-Heading {
  display: table-header-group;
  font-weight: bold;
}
.menu-table-Foot {
  display: table-footer-group;
  font-weight: bold;
}
.menu-table-Body {
  display: table-row-group;
}

.menu-table-center {
  margin-bottom: 5px;

  width: max-content;
}
